@media only screen and (max-width: 480px) {
    /* banner */
    #main-background{
        height: 75vh;
        background-image: url('../img/banner.jpg');
        background-size: cover;
    }

    #card-init{
        padding-top: 15vh;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    #card-init div{
        padding: 0 40px;
    }

    #card-init h1{
        font-size: 20pt;
    }

    #card-init p{
        font-size: 12pt;
    }

    #card-init button{
        margin-top: 5vh;
    }
    .info-list{
        background-color: black;
        color: white;
        padding: 50px;
        margin-top: 5vh;
        font-size: 12pt;
    }

    .info-list li{
        display: inline-block;
        margin: 0 25px;
    }

    .info-list ul{
        width: 100%;
    }

    .bi-house-door{
        font-size: 30pt;
        margin: 0 !important;
        margin-left: 25px !important;
    }
    .explore{
        font-size: 16pt;
        font-weight: 700;
        padding-bottom: 15px;
    }

    .bi-1-circle, .bi-2-circle, .bi-3-circle{
        margin: 0 20px;
        font-size: 20pt;
    }
    #card-carrosel{
        margin-top: 35vh;
    }

    #card-carrosel h2{
        font-size: 30pt;
        text-align: center;
        margin-bottom: 0;
    }

    #card-carrosel p{
        font-size: 12pt;
        text-align: center;
        margin-top: 10px;
    }

    .carrosel-div{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .p{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .slider {
        display: block;
        height: 300px;
        width: 400px;
        margin: auto;
        margin-top: 20px;
        position: relative;
        padding: 0;
    }

    .slider li {
        list-style: none;
        position: absolute;
    }

    .slider img {
        margin: auto;
        height: 100%;
        width: 100%;
        vertical-align: top;
        max-height: 500px;
        max-width: 800px;
    }

    .slider input {
        display: none;
    }

    .slider label {
        background-color: #000;
        top: 20px;
        cursor: pointer;
        display: block;
        height: 20px;
        position: absolute;
        width: 20px;
        z-index: 10;
        margin-left: 10px;
    }

    .slider li:nth-child(1) label {
        left: 0px;
    }

    .slider li:nth-child(2) label {
        left: 50px;
    }

    .slider li:nth-child(3) label {
        left: 100px;
    }

    .slider li:nth-child(4) label {
        left: 150px;
    }

    .slider li:nth-child(5) label {
        left: 200px;
    }

    .slider img {
        opacity: 0;
        visibility: hidden;
    }

    .slider li input:checked ~ img {
        opacity: 1;
        visibility: visible;
        z-index: 10;
    }
    /* terceiro card */
    #card-builds{
        height: 60vh;
        background-image: url('../img/8.jpg');
        background-size: cover;
        padding-top: 100px;
    }

    #center-content{
        width: 60%;
        background-color: white;
        opacity: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 25px 25px 25px 25px;
    }

    #center-content h2{
        font-size: 15pt;
    }

    .home-internal{
        padding-top: 50px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .home-internal h2{
        font-size: 20pt;
        text-align: center;
    }
    #note{
        background-color: #3699C7;
        width: 70%;
        color: white;
        padding: 25px 50px 50px 50px;
        margin-top: 10vh;
    }

    #note h3{
        font-size: 20pt;
        font-weight: 900;
        background-color:  #D53711;
        padding: 10px;
        width: 40px;
        height: 40px;
        border-radius: 40px;
        text-align: center;
        margin: 0;
        margin-top: -50px;
    }

    .number{
        display: flex;
        justify-content: center;
    }
    #img-home img{
        max-width: 320px;
    }

    #img-home{
        width: 100%;
        margin-top: 15vh;
    }

    .alt{
        position: absolute;
        margin-top: 80px;
        text-align: center;
    }

    #card-contact{
        margin-top: 5vh;
        background-color: #403F3F;
        color: white;
        padding: 20px;
    }

    .contact-info{
        width: 80%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .contact-info h2{
        font-size: 20pt;
        margin: 0;
    }

    .contact-form{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5vh;
        display: flex;
        justify-content: center;
    }

    .contact-form label{
       margin-bottom: 20px;
    }
    .btn-submit{
        padding: 20px 75px;
        background-color: #D53711;
        color: white;
        border: none;
        width: 94.7%;
    }
    #subscribe{
        padding: 20px 75px;
        border: none;
    }
    .div-submit-mobile{
        display: flex;
        justify-content: center;
    }
    #navbar nav{
        margin-right: 80px;
        left: 0;
    }
    #navbar-list{
        padding: 0;
    }

}
