/* geral */
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

/* navbar */
#navbar{
    background-color: transparent;
    padding: 0 15px;
    height: 60px;
}

#navbar i, #navbar ul, #navbar-list li, #navbar nav{
    display: inline-block;
}

#navbar i{
    margin: 0;
    line-height: 60px;
    margin-left: 200px;
}

#navbar nav{
    float: right;
    margin-right: 200px;
}

#navbar li{
    margin: 0 25px;
}

#navbar-list li a{
    text-decoration: none;
    color: black;
}

#navbar-list li a:hover{
    text-decoration: underline;
}

/* banner */
#main-background{
    height: 70vh;
    background-image: url('../img/banner.jpg');
    background-size: cover;
}

#card-init{
    padding-top: 15vh;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#card-init div{
    padding: 0 40px;
}

#card-init h1{
    font-size: 3vw;
}

#card-init p{
    font-size: 0.9vw;
}

#card-init button{
    margin-top: 5vh;
}

.bi-house-door{
    font-size: 40pt;
}

.btn-read{
    padding: 20px 75px;
    border-radius: 10px;
    background-color: #D53711;
    color: white;
    border: none;
}

.info-list{
    background-color: black;
    color: white;
    padding: 50px;
    margin-top: 5vh;
    font-size: 12pt;
}

.info-list li{
    display: inline-block;
    margin: 0 25px;
}

.info-list ul{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.explore{
    font-size: 18pt;
    font-weight: 700;
}

.bi-1-circle, .bi-2-circle, .bi-3-circle{
    margin: 0 20px;
    font-size: 20pt;
}

#card-carrosel{
    margin-top: 35vh;
}

#card-carrosel h2{
    font-size: 35pt;
    text-align: center;
    margin-bottom: 0;
}

#card-carrosel p{
    font-size: 12pt;
    text-align: center;
    margin-top: 10px;
}

.carrosel-div{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.p{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.slider {
    display: block;
    height: 400px;
    width: 800px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
    max-height: 500px;
    max-width: 800px;
    border: 15px solid grey;
}

.slider input {
    display: none;
}

.slider label {
    background-color: #000;
    top: 20px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
    margin-left: 10px;
}

.slider li:nth-child(1) label {
    left: 10px;
}

.slider li:nth-child(2) label {
    left: 40px;
}

.slider li:nth-child(3) label {
    left: 70px;
}

.slider li:nth-child(4) label {
    left: 100px;
}

.slider li:nth-child(5) label {
    left: 130px;
}

.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

/* terceiro card */
#card-builds{
    height: 75vh;
    background-image: url('../img/8.jpg');
    background-size: cover;
    margin-top: 25vh;
    padding-top: 180px;
}

#center-content{
    width: 40%;
    background-color: white;
    opacity: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 200px;
    padding-right: 200px;
}

#center-content h2{
    font-size: 30pt;
}

.home-internal{
    padding-top: 100px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.home-internal h2{
    font-size: 35pt;
}

#note{
    background-color: #3699C7;
    width: 15%;
    color: white;
    padding: 25px 50px 50px 50px;
    margin-top: 20vh;
    position: absolute;
}

#note h3{
    font-size: 20pt;
    font-weight: 900;
    background-color:  #D53711;
    padding: 10px;
    width: 40px;
    border-radius: 50px;
    text-align: center;
    margin: 0;
    margin-top: -50px;
}

.number{
    display: flex;
    justify-content: center;
}

#img-home img{
    max-width: 700px;
}

#img-home{
    float: right;
    width: 65%;
    margin-top: 10vh;
}

.alt{
    position: absolute;
    margin-top: 80px;
    text-align: center;
}

#card-contact{
    margin-top: 110vh;
    background-color: #403F3F;
    color: white;
    padding: 100px;
}

.contact-info{
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.contact-info h2{
    font-size: 30pt;
    margin: 0;
}

.contact-form{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8vh;
    display: flex;
    justify-content: center;
}

.contact-form label{
   margin-bottom: 20px;
}

#subscribe{
    padding: 20px 75px;
    border: none;
}

#subscribe ::placeholder{
    text-align: start !important;
}

.btn-submit{
    padding: 20px 75px;
    background-color: #D53711;
    color: white;
    border: none;
    margin-left: -10px;
}

footer{
    text-align: center;
}

